<div class="main">

    <div class="container pt-3">
        <div class="d-block d-lg-flex justify-content-around">
            <h4 class="fw-bold fs-24 heading1_color text-center text-lg-start">Brandname</h4>
            <div class="d-block d-lg-flex text-center text-lg-start">
                <p class="common-nav">Home</p>
                <p class="common-nav">Product</p>
                <p class="common-nav">Pricing</p>
                <p class="common-nav">Contact</p>
            </div>
            <div class="text-center text-lg-start">
                <button class="me-3 fs-14 text_green bg-transparent fw-bold border-0">Login</button>
                <button class="common-btn">JOIN US  <img src="" alt=""></button>
            </div>
        </div>

    <div class="d-block d-lg-flex  justify-content-between">
        <div class="left d-flex flex-column justify-content-center">
            <p class="fs-16 fw-bold text_green">Welcome</p>
            <div class="cstm-padding">
                <h4 class="fs-58 fw-bold heading1_color">Best Learning Opportunities</h4> 
            </div>
            <p class="heading3_color fs-20 custom-padding">Our goal is to make online education work for everyone</p>
            <div>
                <button class="common-btn me-2">Join Us</button>
                <button class="learn_more">Learn More</button>
            </div>
        </div>
    
        <div>
            <img style="width: 100%;" src="assets/images/hero-cover-1.png" alt="img">
        </div>
    </div>
        
    </div>
</div>


<div class="second">
    <div class="container">
        <div class="content">
            <div class="left">
                <p class="red_border"></p>
                <h3 class="heading1_color fs-40 fw-bold">Approdable Packages</h3>
              <div>
                <p class="heading3_color fs-14">Problems trying to resolve the conflict between 
                    the two major realms of Classical physics: 
                    Newtonian mechanics </p>
              </div> 
                    <button (mouseleave)="onHoverOut()" (mouseover)="onHover()" class="fs-14 fw-bold text_green border-0 bg-transparent">Learn More <img  #arrow width="12" src="assets/images/right.png" alt="next"></button>
            </div>
            <div class="right">
                <div class="inner-right">
                    <img  width="70" height="76" style="background:#96BB7C;" src="assets/images/012-blackboards.svg" alt="img">
                    <h5 class="fs-16 fw-bold heading1_color mt-3">Certified Teacher</h5>
                    <p class="red_border2"></p>
                    <p class="fs-14 heading3_color">The gradual 
                        accumulation of 
                        information about </p>
                </div>
                
            </div>
            <div class="right">
                <div class="inner-right">
                    <img style="background:#96BB7C;" width="70" height="76" src="assets/images/013-telescope-1.svg" alt="img">
                    <h5 class="fs-16 fw-bold heading1_color mt-3">Expert instruction</h5>
                    <p class="red_border2"></p>
                    <p class="fs-14 heading3_color">The gradual 
                        accumulation of 
                        information about </p>
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="third">
    <div class="container">
        <div class="third-text">
            <p class="fs-14 fw-bold text_green">Team</p>
            <h4 class="fs-24 fw-bold heading1_color">Get Quality Education</h4>
            <p class="heading3_color fs-14 ">Problems trying to resolve the conflict between <br>
                the two major realms of Classical physics: Newtonian mechanics </p>
        </div>
    
<!-- /carousel -->
      <div class="d-none d-lg-block">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  
                  
          <div class="row">
              
              <div class="col-lg-3" *ngFor="let item of carousel">
                  <div class="card text-center" style="width: 18rem;">
            <img  src="{{item.img}}" class="card-img-top" style="width: 280px;" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{item.name}} </h5>
              <p class="card-text">{{item.prof}}</p>
              <a href="#" class=""></a>
              <img src="assets/images/facebook.svg" alt="">
              <img class="mx-4" src="assets/images/instagram.svg" alt="">
              <img src="assets/images/twitter.svg" alt="">
            </div>
          </div>
              </div>
          </div>                  
    </div>


              <div class="carousel-item">
                  
                  
                  
          <div class="row">
              
            <div class="col-lg-3" *ngFor="let item of carousel">
                <div class="card text-center" style="width: 18rem;">
          <img  src="{{item.img}}" class="card-img-top" style="width: 280px;" alt="...">
          <div class="card-body">
            <h5 class="card-title"> {{item.name}} </h5>
            <p class="card-text">{{item.prof}}</p>
            <img src="assets/images/facebook.svg" alt="">
            <img class="mx-4" src="assets/images/instagram.svg" alt="">
            <img src="assets/images/twitter.svg" alt="">
          </div>
        </div>
            </div>
              
             
              
          </div>
              
                  
              </div>
              
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

      </div>
<!-- /carousel -->
<div class="d-lg-none d-block">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/user-cover-1.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Julian Jameson</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/user-cover-2.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Julian Jameson</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/user-cover-3.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Julian Jameson</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/user-cover-4.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Julian Jameson</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
          
          
          
          
          
     
</div>
</div>





<div class="fourth main">
    <div class="container center">
      <div>
        <p class="fs-14 fw-bold text_green">Newsletter</p>
        <h4 class="heading1_color fs-24 fw-bold">Watch our Courses</h4>
        <p class="fs-14 heading3_color ">Problems trying to resolve the conflict between <br>
            the two major realms of Classical physics: Newtonian mechanics </p>
      </div>
      <div>
        <input (keyup)="onChange()" #inpValue type="email" placeholder="Your Email" >
        <button (click)="onSubscribe(inpValue.value)" class="common-btn" style="padding: 15px 29px;">Subscribe</button>

      </div>
      <p class="text-danger" *ngIf="error">Please enter a valid email address</p>

    </div>
</div>
<div class="footer">
    <div class="container d-block d-md-flex justify-content-around">
        <div class="" *ngFor="let item of footerData; let i = index">

           <h4 class="mb-4"> {{item.heading}}</h4>
            <ul>
                <li class="mb-2 fs-14 heading3_color"> <img class="me-2" *ngIf="i==4" src="assets/images/contact.svg" alt="img"> {{item.list1}} </li>
                <li class="mb-2 fs-14 heading3_color"> <img class="me-2" *ngIf="i==4" src="assets/images/email.svg" alt="img"> {{item.list2}} </li>
                <li class="mb-2 fs-14 heading3_color"> <img class="me-2" *ngIf="i==4" src="assets/images/contact.svg" alt="img"> {{item.list3}} </li>
                <li class="mb-2 fs-14 heading3_color">  {{item.list4}} </li>
            </ul>
        </div>
    </div>
</div>